{% extends 'AppBundle:Admin/Form:skeleton.html.twig' %}
{% block title %}Create form | {{ parent() }}{% endblock %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('list-alt') }} Create form</h3>
    </div>
    <div class="panel-body">
        {{ form(data) }}
    </div>
{% endblock %}