<h4>Pricing</h4>
<dl class="dl-horizontal">
   <dt>Formula</dt><dd><pre>{{ pluginData.formula }}</pre></dd>
   <dt>Payment details expression</dt>
   <dd>
       {% if pluginData.payment_expression %}
           <pre>{{ pluginData.payment_expression }}</pre>
       {% else %}
           {{ label('Disabled') }}
       {% endif %}
   </dd>
</dl>
