<h4>{% trans %}Pricing{% endtrans %}</h4>
<dl class="dl-horizontal">
   <dt>{% trans %}Formula{% endtrans %}</dt><dd><pre>{{ pluginData.formula }}</pre></dd>
   <dt>{% trans %}Payment details expression{% endtrans %}</dt>
   <dd>
       {% if pluginData.payment_expression %}
           <pre>{{ pluginData.payment_expression }}</pre>
       {% else %}
           {{ label('Disabled') }}
       {% endif %}
   </dd>
</dl>
