<h4>Pricing</h4>
<dl class="dl-horizontal">
   <dt>Formula</dt><dd><pre>{{ pluginData.formula }}</pre></dd>
   <dt>Payment details expression</dt><dd><pre>{{ pluginData.payment_expression }}</pre></dd>
</dl>
