<div class="alert alert-warning">
    {% trans with {"%login_url%": url('login', {'target': app.request.requestUri})}%}
        <p>Pricing might change if you log in! You are currently not logged in.</p>
        <p><a href="%login_url%" class="alert-link">Do you want to log in?</a></p>
    {% endtrans %}
</div>