<h4>{% trans %}Form template{% endtrans %}</h4>
<dl class="dl-horizontal">
   <dt>{% trans %}Form Type{% endtrans %}</dt><dd>{{ pluginData.formType }}</dd>
   <dt>{% trans %}Admin enrollment list fields{% endtrans %}</dt><dd>
      {% for field in pluginData.admin_enrollment_list_fields %}
         {{ field }}<br>
      {% endfor %}
   </dd>
</dl>
