<h4>{{ 'plugin.divert_enrollments.title'|trans }}</h4>
<dl class="dl-horizontal">
    <dt>{{ 'plugin.divert_enrollments.conf.target'|trans }}</dt>
    <dd>
        <a href="{{ url('admin_get_form', {form: pluginData.target}) }}">{{ pluginData.target }}</a>
    </dd>
</dl>
