<h4>{{ 'plugin.unique_fields.title'|trans }}</h4>
<dl class="dl-horizontal">
    <dt>{{ 'plugin.unique_fields.conf.fields'|trans }}</dt>
    <dd>
        {% for field in pluginData.fields %}
            {{ field }}<br>
        {% endfor %}
    </dd>
</dl>
