<h4>{% trans %}Role differentiation{% endtrans %}</h4>
<p class="text-muted">{% trans %}Configuration is applied from top to bottom.{% endtrans %}</p>
<table class="table">
    <thead>
    <tr>
        <th>{% trans %}If{% endtrans %}</th>
        <th>{% trans %}Use form{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for rule in pluginData.rules %}
        <tr>
            <td>{{ rule.condition }}</td>
            <td>
                {% if rule.target_form %}
                    <a href="{{ url('admin_get_form', {form: rule.target_form}) }}">{{ rule.target_form }}</a>
                {% else %}
                    {% trans %}Deny access{% endtrans %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
