<h4>{% trans %}Date{% endtrans %}</h4>
<dl class="dl-horizontal">
   <dt>{% trans %}Start date{% endtrans %}</dt><dd>{{ pluginData.startDate|date }}</dd>
   <dt>{% trans %}End date{% endtrans %}</dt>
   <dd>
       {% if pluginData.endDate %}
           {{ pluginData.endDate|date }}
       {% else %}
           <span class="text-muted">{% trans %}(None){% endtrans %}</span>
       {% endif %}
   </dd>
</dl>
