<h4>{% trans %}Email confirmation{% endtrans %}</h4>
<dl class="dl-horizontal">
    <dt>{% trans %}Subject{% endtrans %}</dt>
    <dd>
        <pre>{{ pluginData.emailSubject }}</pre>
    </dd>
   <dt>{% trans %}Body{% endtrans %}</dt>
   <dd>
       <pre>{{ pluginData.emailBody }}</pre>
   </dd>
</dl>
