<h4>Count Enrollments</h4>
<dl class="dl-horizontal">
    <dt>Max enrollments</dt><dd>{{ pluginData.maxEnrollments }}</dd>
    <dt>Deny enrollments</dt>
    <dd>
        {% if pluginData.denyEnrollments %}
            {{ label_success('Enabled') }}
            <p class="text-muted">When the maximum number of enrollments is reached, no more submissions will be accepted.</p>
        {% else %}
            {{ label('Disabled') }}
            <p class="text-muted">When the maximum number of enrollments is reached, users will be placed on a waiting list.</p>
        {% endif %}
    </dd>
    <dt>Count expression</dt>
    <dd>
        <pre>{{ pluginData.countExpression }}</pre>
    </dd>
</dl>
