<h4>{% trans %}Count Enrollments{% endtrans %}</h4>
<dl class="dl-horizontal">
    <dt>{% trans %}Max enrollments{% endtrans %}</dt><dd>{{ pluginData.maxEnrollments }}</dd>
    <dt>{% trans %}Deny enrollments{% endtrans %}</dt>
    <dd>
        {% if pluginData.denyEnrollments %}
            {{ label_success('Enabled') }}
            <p class="text-muted">{% trans %}When the maximum number of enrollments is reached, no more submissions will be accepted.{% endtrans %}</p>
        {% else %}
            {{ label('Disabled') }}
            <p class="text-muted">{% trans %}When the maximum number of enrollments is reached, users will be placed on a waiting list.{% endtrans %}</p>
        {% endif %}
    </dd>
    <dt>{% trans %}Count expression{% endtrans %}</dt>
    <dd>
        <pre>{{ pluginData.countExpression }}</pre>
    </dd>
</dl>
