{% if attribute(data.flattenedData, fieldName) is defined %}
    {% set d =  attribute(data.flattenedData, fieldName) %}
    {% if d %}
        {{ d }}
    {% else %}
        <span class="text-muted">(Empty)</span>
    {% endif %}
{% else %}
    <span class="text-muted">(Empty)</span>
{% endif %}
