{% if tooSoon %}
    <div class="alert alert-warning">
        {{ 'plugin.date.ui.too_soon'|trans }}
    </div>
{% else %}
    <div class="alert alert-warning">
        {{ 'plugin.date.ui.too_late'|trans }}
    </div>
{% endif %}
