{% if toSoon %}
    <div class="alert alert-warning">
        {% trans %}This enrollment is not open yet.{% endtrans %}
    </div>
{% else %}
    <div class="alert alert-warning">
        {% trans %}This enrollment is not open anymore.{% endtrans %}
    </div>
{% endif %}
