{% if not (app.request.attributes.get('_route') starts with 'admin_') %}
    <div class="alert alert-success">
        {{ 'app.enrollment_registered'|trans }}
    </div>
{% endif %}
{% include 'AppBundle:Enrollment:form.html.twig' %}
