{% extends 'AppBundle:Admin/Enrollment:skeleton.html.twig' %}
{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title">{{ icon('file-text-o') }} Delete enrollment for {{ form.name }}</h3>
    </div>
    <div class="panel-body">
        {{ form(data) }}
    </div>
{% endblock %}
